@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    color: #fff;
    align-items: center;
    font-family: var(--body-font);
    box-sizing: border-box;
}

html,
body {
    margin: auto;
    background-color: #151515;
}

h1,
h2,
h3,
h4 {
    font-family: var(--accent-font);
    font-weight: 900;
    color: #fff;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    font-family: var(--body-font);
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    font-family: var (--body-font);
}

a {
    color: #cd0c75;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}

main section {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
}

main div {
    width: 40%;
}

#title {
    width: 90%;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: baseline;
}

#info div {
    display: flex;
    gap: 20px;
}

#form {
    width: 50%;
}

input,
textarea {
    background-color: #151515;
    padding: 10px 0px;
    border: none;
    width: 20vw;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.25);
}

input:focus,
textarea:focus {
    outline: none;
    color: #fff;
}

.double-inp > input {
    border-bottom: #fff 1px solid;
    width: 100%;
}

.double-inp {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.double-inp div {
    width: 100%;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #fff;
}

.simple-inp {
    width: 100%;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #fff;
}

.simple-inp input,
textarea {
    width: 100%;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

#sub {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#sub a {
    font-size: 14px;
}

#submit {
    padding: 10px;
    background-color: #2f1d62;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: auto;
}

.rgpd-link {
    text-decoration: underline;
}
@media only screen and (max-width: 1270px) {
    main section {
        justify-content: center;
        gap: 50px;
    }
}
@media only screen and (max-width: 970px) {
    main section {
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }

    main section div {
        width: 88vw;
    }

    main section #form {
        width: 88vw;
    }
    #title {
        text-align: center;
    }
    h1 {
        font-size: clamp(28px, 2vw, 40px);
    }
    h4 {
        font-size: clamp(16px, 2vw, 20px);
        word-wrap: break-word;
        width: 80%;
    }
    #info {
        margin-left: 10%;
    }
}
