body {
  background: var(--fond-pages, #151515);

  #main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;

    .titre {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;

      h1 {
        color: var(--text-contenu, #fff);
        background: none;

        /* Desktop/h1-desktop */
        font-family: Overused Grotesk;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        padding: 0;
      }
    }

    #trajets {
      display: flex;
      width: 250px;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      row-gap: 20px;
      flex-wrap: wrap;

      .trajet {
        display: flex;
        width: 270px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0;

        border-radius: 5px;

        h3 {
          color: var(--text-contenu, #fff);
          text-align: center;

          /* Desktop/h3-desktop */
          font-family: Overused Grotesk;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
        }

        h4 {
          color: var(--text-contenu, #fff);
          text-align: center;

          /* Desktop/h4-desktop */
          font-family: Overused Grotesk;
          font-size: 16px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
        }

        p {
          color: var(--text-contenu, #fff);

          /* Desktop/p-desktop */
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px; /* 143.75% */
        }
      }

      .trajet-pris {
        border: 2px solid var(--accent-2, #f15722);
        button {
          display: flex;
          width: 180px;
          height: 60px;
          padding: 0px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;

          border-radius: 5px;
          background: var(--accent-2, #f15722);
          color: var(--text-CAT, #fff);

          a {
            text-align: center;
            text-decoration: none;

            /* Desktop/p-desktop */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 143.75% */
          }
        }
      }

      .trajet-a-prendre {
        border: 2px solid var(--text-contenu, #fff);
        button {
          display: flex;
          width: 180px;
          height: 60px;
          padding: 0px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;

          border-radius: 5px;
          background: var(--primaire, #2f1d62);
          color: var(--text-CAT, #fff);

          a {
            text-align: center;
            text-decoration: none;

            /* Desktop/p-desktop */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 143.75% */
          }
        }
      }

      .trajet-complet {
        background: var(--text-contenu--10, rgba(255, 255, 255, 0.1));
        button {
          display: flex;
          width: 180px;
          height: 60px;
          padding: 0px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;

          border-radius: 5px;
          background: var(--fond-pages, #151515);
          color: var(--text-CAT, #fff);

          a {
            text-align: center;
            text-decoration: none;

            /* Desktop/p-desktop */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 143.75% */
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: var(--fond-pages, #151515);

    #main {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      padding: 50px;

      .titre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        text-align: left;

        h1 {
          color: var(--text-contenu, #fff);
          background: none;

          /* Desktop/h1-desktop */
          font-family: Overused Grotesk;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          text-transform: uppercase;
          padding: 0;
        }
      }

      #trajets {
        display: flex;
        width: 1240px;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        row-gap: 40px;
        flex-wrap: wrap;

        .trajet {
          display: flex;
          width: 500px;
          padding: 20px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;

          border-radius: 5px;

          h3 {
            color: var(--text-contenu, #fff);
            text-align: center;

            /* Desktop/h3-desktop */
            font-family: Overused Grotesk;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
          }

          h4 {
            color: var(--text-contenu, #fff);
            text-align: center;

            /* Desktop/h4-desktop */
            font-family: Overused Grotesk;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
          }

          p {
            color: var(--text-contenu, #fff);

            /* Desktop/p-desktop */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 143.75% */
          }
        }

        .trajet-pris {
          border: 2px solid var(--accent-2, #f15722);
          button {
            display: flex;
            width: 180px;
            height: 60px;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;

            border-radius: 5px;
            background: var(--accent-2, #f15722);

            color: var(--text-CAT, #fff);
            a {
              text-align: center;
              text-decoration: none;

              /* Desktop/p-desktop */
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 23px; /* 143.75% */
            }
          }
        }

        .trajet-a-prendre {
          border: 2px solid var(--text-contenu, #fff);
          button {
            display: flex;
            width: 180px;
            height: 60px;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;

            border-radius: 5px;
            background: var(--primaire, #2f1d62);

            color: var(--text-CAT, #fff);
            a {
              text-align: center;
              text-decoration: none;

              /* Desktop/p-desktop */
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 23px; /* 143.75% */
            }
          }
        }

        .trajet-complet {
          background: var(--text-contenu--10, rgba(255, 255, 255, 0.1));
          button {
            display: flex;
            width: 180px;
            height: 60px;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;

            border-radius: 5px;
            background: var(--fond-pages, #151515);

            color: var(--text-CAT, #fff);
            a {
              text-align: center;
              text-decoration: none;

              /* Desktop/p-desktop */
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 23px; /* 143.75% */
            }
          }
        }
      }
    }
  }
}
