* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--fond-pages, #151515);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
body main #equipe {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
body main #equipe h1 {
  color: var(--text-contenu, #fff);
  text-align: center;
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
body main #equipe .photo_equipe {
  position: relative;
  margin: 20px;
}
body main #equipe .photo_equipe .illu_1 {
  position: absolute;
  left: -70px;
  top: -30px;
  width: 50px;
  flex-shrink: 0;
}
body main #equipe .photo_equipe img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
body main #equipe .photo_equipe .illu_2 {
  position: absolute;
  right: -70px;
  top: 60px;
  width: 50px;
  flex-shrink: 0;
}
body main #equipe p {
  margin: 20px 0;
  color: var(--text-contenu, #fff);
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  text-align: center;
}
body main #membres {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 75px;
}
body main #membres .membre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main #membres .membre img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main #membres .membre h2 {
  color: var(--text-contenu, #fff);
  text-align: center;
  /* Desktop/h2-desktop */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
body main #membres .membre .jeu {
  margin-top: 10px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #fff;
  text-align: center;
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
body main #membres .membre p {
  width: 295px;
  color: var(--text-contenu, #fff);
  text-align: center;
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
body main #membres .equipe_incomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--text-contenu, #fff);
  padding: 20px 10px;
  margin: 20px 10px;
}
body main #membres .equipe_incomplete h2 {
  width: 225px;
  color: var(--text-contenu, #fff);
  text-align: center;
  /* Desktop/h2-desktop */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
body main #membres .equipe_incomplete a {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--primaire, #2f1d62);
  color: var(--text-CAT, #fff);
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  text-decoration: none;
}
body main #photo img {
  width: 0;
}
body main .nbr_coeur {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body main .nbr_coeur #nbr_coeur {
  color: var(--text-contenu, #fff);
  text-align: center;
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
body main .nbr_coeur #nbr_coeur svg {
  width: 24px;
  height: 22.501px;
}
body main #retour {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main #retour a svg {
  width: 29px;
  height: 29px;
  transform: rotate(90deg);
}
body main #retour .retour {
  color: var(--text-contenu, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  text-decoration-line: underline;
}
body #alertRejoindreEquipe {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 5%;
  right: 5%;
  display: none;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background: var(--fond-pages, #151515);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.25), -4px -4px 40px 0px rgba(0, 0, 0, 0.25);
}
body #alertRejoindreEquipe h2 {
  color: var(--text-contenu, #fff);
  /* Desktop/h2-desktop */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
body #alertRejoindreEquipe form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #alertRejoindreEquipe form textarea {
  display: flex;
  width: 250px;
  height: 100px;
  padding: 10px;
  align-items: flex-start;
  gap: 5px;
  background-color: var(--fond-pages, #151515);
}
body #alertRejoindreEquipe form div {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
}
body #alertRejoindreEquipe form div input {
  display: flex;
  border: none;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  color: var(--text-CAT, #fff);
  /* Desktop/p-desktop */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
body #alertRejoindreEquipe form div input[type=button] {
  background: var(--fond-nav, #212121);
}
body #alertRejoindreEquipe form div input[type=submit] {
  background: var(--primaire, #2f1d62);
}

@media screen and (min-width: 912px) {
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    background: var(--fond-pages, #151515);
  }
  body main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  body main #equipe {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  body main #equipe h1 {
    color: var(--text-contenu, #fff);
    text-align: center;
    /* Desktop/h1-desktop */
    font-family: Overused Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
  body main #equipe .photo_equipe {
    position: relative;
  }
  body main #equipe .photo_equipe .illu_1 {
    position: absolute;
    left: -103px;
    top: -46px;
    width: 85px;
    height: 134px;
    flex-shrink: 0;
  }
  body main #equipe .photo_equipe img {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
  }
  body main #equipe .photo_equipe .illu_2 {
    position: absolute;
    right: -107px;
    top: 320px;
    width: 85px;
    height: 97px;
    flex-shrink: 0;
  }
  body main #equipe p {
    margin: 60px 0;
    color: var(--text-contenu, #fff);
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }
  body main #membres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 10px;
  }
  body main #membres .membre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  body main #membres .membre img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  body main #membres .membre h2 {
    color: var(--text-contenu, #fff);
    text-align: center;
    /* Desktop/h2-desktop */
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  body main #membres .membre .jeu {
    margin-top: 19px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  body main #membres .membre .jeu p {
    color: #fff;
    text-align: center;
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }
  body main #membres .membre p {
    width: 295px;
    color: var(--text-contenu, #fff);
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }
  body main #membres .equipe_incomplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--text-contenu, #fff);
  }
  body main #membres .equipe_incomplete h2 {
    width: 240px;
    color: var(--text-contenu, #fff);
    text-align: center;
    /* Desktop/h2-desktop */
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  body main #membres .equipe_incomplete a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primaire, #2f1d62);
    color: var(--text-CAT, #fff);
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
    text-decoration: none;
  }
  body main #photo {
    margin: 120px 0;
  }
  body main #photo img {
    width: 250px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  body main #photo .img1 {
    transform: rotate(-2deg);
  }
  body main #photo .img2 {
    transform: rotate(7deg);
  }
  body main #photo .img3 {
    transform: rotate(-5deg);
  }
  body main #photo .img4 {
    transform: rotate(2deg);
  }
  body main .nbr_coeur {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  body main .nbr_coeur #nbr_coeur {
    color: var(--text-contenu, #fff);
    text-align: center;
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }
  body main .nbr_coeur #nbr_coeur svg {
    width: 24px;
    height: 22.501px;
  }
  body main #retour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  body main #retour a svg {
    width: 29px;
    height: 29px;
    transform: rotate(90deg);
  }
  body main #retour .retour {
    color: var(--text-contenu, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    text-decoration-line: underline;
  }
  body #alertRejoindreEquipe {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 20%;
    right: 20%;
    display: none;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: var(--fond-pages, #151515);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.25), -4px -4px 40px 0px rgba(0, 0, 0, 0.25);
  }
  body #alertRejoindreEquipe h2 {
    color: var(--text-contenu, #fff);
    /* Desktop/h2-desktop */
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  body #alertRejoindreEquipe form {
    padding-top: 20px;
  }
  body #alertRejoindreEquipe form textarea {
    display: flex;
    width: 500px;
    height: 187px;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--fond-pages, #151515);
    color: var(--text-contenu, #fff);
  }
  body #alertRejoindreEquipe form div {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  body #alertRejoindreEquipe form div input {
    display: flex;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: var(--text-CAT, #fff);
    /* Desktop/p-desktop */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }
  body #alertRejoindreEquipe form div input[type=button] {
    background: var(--fond-nav, #212121);
  }
  body #alertRejoindreEquipe form div input[type=submit] {
    background: var(--primaire, #2f1d62);
  }
}/*# sourceMappingURL=details_equipes.css.map */