@import url('./variables.css');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--background-color);
}

#player-score-zone{
    padding: 20px 30px;
    display: flex;
    gap: 50px;
    border: solid 1px #FFF;
    font-family: var(--accent-font);
    color: #FFF;
    background-color: var(--background-color);
}

#player-info-zone{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#player-pseudo-input{
    padding: 0 10px;
    background: none;
    border: 1px solid #FFF;
    border-radius: 4px;
    font-family: var(--accent-font);
    font-size: 24px;
    font-weight: 900;
    color: #FFF;
    outline: none;
}

.player-time-input{
    width: 36px;
    border: none;
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 900;
    color: #FFF;
    background: none;
    outline: none;
}

#player-state-green {
    font-size: 24px;
    font-weight: 900;
    color: #04ff00;
}

#player-state-red {
    font-size: 24px;
    font-weight: 900;
    color: #ff0000;
}

#player-button-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#player-modif-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    background-color: var(--primary-color);
}

#player-suppr-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    background-color: var(--secondary-color);
}