@import url(./variables.css);
body{
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
}

@media screen and (min-width:970px) {

    .main{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 75px;
        background-color: #212121;
    }
    
    @font-face {
        font-family: 'Montseerrat';
        src: url(‘/fonts/Montserrat-Medium’) format(‘Montserrat-Medium’),
    }
    
    #div_logo{
        display: flex;
        width: 10vw;
        padding: 10px 0 10px 100px;
    }
    
    #logo{
        width: 60px;
    }

    #nav{
        display: flex;
        justify-content: right;
        width: 90vw;
        padding-right: 100px;
    }
    
    .rubriques{
        display: flex;
        justify-content: space-around;
        margin: 0 20px 0 0;
    }
    
    .bouton_rubrique{
        margin: 0 60px 0 0;
        font-family: var(--body-font);
        font-size: 10pt;
    }
    
    a{
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #bouton_contact{
        border-radius: 5px;
        background-color: var(--accent-color-1);
        padding: 10px;
        margin: 0 25px 0 0;
        font-size: 10pt;
    }
    
    #bouton_participer{
        border-radius: 5px;
        background-color: #2F1D62;
        padding: 10px;
        margin: 0 25px 0 0;
        font-size: 10pt;
    }
    
    #icon_compte{
        width: 25px;
        filter: invert();
    }

    .rubriques_burger{
        display: none;
    }

    #fermer{
        display: none;
    }

    .count-down-timer{
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        color: #FFFFFF;

    }
    
    
}

@media screen and (max-width:970px) {

    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #212121;
    }   

    #div_logo{
        padding:0 20vw 0 30px;
    }
    
    #logo{
        width: 60px;
    }
    
    .bouton_rubrique{
        margin: 0 60px 0 0;
        font-size: 16px;
    }
    #bouton_contact, #bouton_participer, #icon_compte, .bouton_rubrique{
        display: none;
    }

    #bouton_burger{
        display: grid;
        padding-right: 30px;
    }

    .steak{
        position: relative;
        width: 30px;
        border-radius: 5px;
        border: solid #FFFFFF 2px;
        margin-bottom: 10px;
    }

    .rubriques_burger{
        display: grid;
        justify-content: center;
        width: 100vw;
        background-color: #212121;
        position: absolute;
        right: 0;
        gap: 20px;
        top: 99px;
        padding: 45px 0 25px 0;
        display: none;
    }

    #burger_contact{
        border: solid #FEBC11 1px;
    }

    #burger_play{
        border: solid #2F1D62 1px;
    }

    .content_burger{

        display: flex;
        justify-content: center;
        width: 100%;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Montserrat';
        padding: 15px 0 ;
    }

    #croix_fermer{
        width: 30px;
        filter: invert();
        display: none;
    }

    .count-down-timer{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: var(--secondary-color);
        color: #FFFFFF;

    }
    
}