@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
}

/* HEADER */

.header-container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/homepage_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: var(--accent-font);
}

.count-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.cta-button {
    font-weight: 900;
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease;
    font-family: var(--accent-font);
}
.cta-button:hover {
    background: var(--primary-color-hover);
}

.count-down h1 {
    color: white;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.5);
    /* add font family */
    font-size: 128px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.numbers {
    font-weight: bold;
}

.letters {
    text-transform: uppercase;
}

.header-container .count-down-timer {
    color: white;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.5);
}

.header-container .count-down-timer .numbers {
    font-size: 48px;
}

.header-container .count-down-timer .letters {
    font-size: 48px;
}

.header-container .count-down p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* MAIN */

main {
    position: relative;
    overflow: hidden;
}

.background-pattern {
    position: absolute;
    z-index: -1;
    width: 1250px;
    left: 700px;
    top: 75vh;
    /* native color of img wasn't the exact same as on figma */
    filter: brightness(4);
    opacity: 0.25;
}

/* TEASER */

.teaser-container {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.teaser {
    width: 1240px;
    height: 677px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.teaser iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 100%;
    height: 100%;
}

/* SPONSORS */

.sponsors {
    text-align: center;
    margin-bottom: 60px;
}

.sponsors h2 {
    font-family: var(--body-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 20px;
    color: white;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sponsor-logo {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    width: 121px;
    height: 29px;
}

.sponsor-logo:hover {
    filter: grayscale(0%);
}

/* ABOUT */

.about-content-container {
    /* remove margin-top: 60px; when we have sponsors */
    margin-top: 60px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
}

.explanation-text-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    height: 439px;
}

.twitch-link {
    color: var(--accent-color-1);
    text-decoration: underline;
}
.twitch-link:hover {
    color: white;
}
.colored-words {
    color: var(--accent-color-1);
}

.lan-explanation-text {
    color: white;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 900;
    word-wrap: break-word;
}

.description-text {
    width: 715px;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word;
}

.navigation-buttons-container {
    width: 315px;
    align-self: center;
    justify-content: space-around;
    display: inline-grid;
    transform: rotate(-90deg);
}

.navigation-button {
    display: flex;
    width: 439px;
    height: 105px;
    padding: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
    cursor: pointer;
}

.navigation-button:hover {
    opacity: 0.75;
}

.registration-button {
    background: #3d2481;
}

.carpooling-button {
    background: #cd0c75;
}

.faq-button {
    background: #febc11;
}

.icon-box {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
    padding: 20px;
}

.navigation-button:hover .icon-box {
    transform: rotate(0deg);
}

.button-label h3 {
    position: relative;
    transform-origin: center;
    padding: 20px;
    word-wrap: break-word;
    font-family: var(--accent-font);
    color: white;
    font-size: 24px;
    font-weight: 900;
}

/* ANIMATED BANNER */

.animated-banner {
    width: 100%;
    height: 55px;
    background-color: var(--accent-color-1);
    margin-top: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.space-invaders {
    position: absolute;
    display: flex;
    width: 100%;
    gap: 5px;
    animation: scrollBanner 9s linear infinite;
    /* initially, hide groups before their animation starts */
    right: -100%;
}
#group2 {
    /* delay to create space between the groups */
    animation-delay: 3s;
}
#group3 {
    /* delay to create space between the groups */
    animation-delay: 6s;
}
@keyframes scrollBanner {
    /* on the beginning of the animation, space-invaders group is placed on the right, outside of window */
    0% {
        right: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-120%);
    }
}

.space-invader {
    width: 40px;
    height: 40px;
}

/* SOCIAL */

.social-media {
    margin: 60px auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.follow-us {
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: var(--accent-font);
}

.social-medias-listing {
    display: flex;
    list-style: none;
    gap: 10px;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.social-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.social-logo {
    width: 100%;
    height: 100%;
}

.discord-link,
.instagram-link,
.twitter-link,
.tiktok-link,
.ytb-link {
    position: relative;
}
#discord-logo-hover,
#ytb-logo-hover,
#instagram-logo-hover,
#tiktok-logo-hover,
#twitter-logo-hover {
    transition: 0.5s;
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 0;
}
#discord-logo-hover:hover,
#instagram-logo-hover:hover,
#twitter-logo-hover:hover,
#ytb-logo-hover:hover,
#tiktok-logo-hover:hover {
    opacity: 1;
}
#discord-logo:hover,
#tiktok-logo:hover,
#instagram-logo:hover,
#ytb-logo:hover,
#twitter-logo:hover {
    opacity: 0;
}
#discord-logo:hover + #discord-logo-hover,
#instagram-logo:hover + #instagram-logo-hover,
#tiktok-logo:hover + #tiktok-logo-hover,
#ytb-logo:hover + #ytb-logo-hover,
#twitter-logo:hover + #twitter-logo-hover {
    transition: 0.5s;
    opacity: 1;
}

.help-text {
    text-align: center;
    font-family: var(--body-font);
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

/* TWITCH */

.twitch-preview {
    font-family: var(--body-font);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 100px;
}

#twitch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-title {
    color: white;
    font-size: 36px;
    font-weight: 900;
}

.twitch-preview .count-down-timer {
    font-size: 42px;
    color: var(--secondary-color);
}

.twitch-livestream {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.twitch-title {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.twitch-embed {
    width: 1240px;
    height: 677px;
    outline: 1px solid white;
    border-radius: 5px;
}

/* This class is used to hide content before we use it (ex: we don't have sponsors yet) */
.hidden-content {
    display: none;
}

@media screen and (min-width: 700px) and (max-width: 1300px) {
    .navigation-buttons-container {
        transform: none;
    }
    .navigation-button {
        max-width: 600px;
        max-height: 150px;
    }
}

@media screen and (max-width: 1300px) {
    .header-container .count-down {
        width: 100%;
    }
    .header-container .title-mmilan {
        font-size: 60px;
    }
    .header-container .count-down-timer .numbers {
        font-size: 28px;
    }
    .header-container .count-down-timer .letters {
        font-size: 28px;
    }
    .teaser-container {
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
        height: 30vw;
        min-width: 280px;
        min-height: 140px;
    }
    .teaser {
        width: 100%;
        height: 100%;
    }
    .about-section {
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
        height: 1000px;
        position: relative;
    }

    .about-content-container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
        position: relative;
    }
    .explanation-text-container {
        height: auto;
        width: 60vw;
        min-width: 280px;
        position: relative;
    }
    .description-text {
        width: 100%;
    }
    .navigation-button,
    .navigation-button::before {
        max-width: 439px;
        max-height: 105px;
        width: 55vw;
        height: 15vw;
    }
    .button-label h3 {
        font-size: clamp(10px, 4vw, 24px);
    }
    .icon-box {
        padding-bottom: 2%;
    }
    .icon-box img {
        width: 10%;
        height: 10%;
        min-width: 20px;
        max-width: 80px;
        min-height: 20px;
        max-height: 80px;
    }
    .animated-banner {
        margin-top: 15vw;
    }
    .follow-us {
        font-size: 18px;
    }
    .social-media {
        height: auto;
        word-wrap: break-word;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .countdown-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .twitch-preview .count-down-timer {
        font-size: 30px;
        color: var(--secondary-color);
    }
    .twitch-livestream {
        width: 60vw;
        height: 30vw;
        min-width: 280px;
        min-height: 140px;
        align-items: baseline;
    }
    .twitch-title {
        margin-left: auto;
        margin-right: auto;
    }
    .twitch-embed {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 699px) {
    .animated-banner {
        margin-top: 50%;
    }
}
