@import url('https://fonts.cdnfonts.com/css/overused-grotesk');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Overused Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    padding: 20px ;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

.tri-btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

.tri-btn svg {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 0;
    z-index: 1;
    left: 20px;
    margin-top: 10px;
}

.tri-btn:hover .dropdown-menu {
    display: block;
    background-color: black;
}

.dropdown-menu a {
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
}

.liste_equipe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}

/* Styles des vignettes d'équipes */


.vignette {
    max-width: 295px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    list-style: none;
}

.vignette_pleine {
    max-width: 295px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.10);
    text-align: center;
    color: #fff;
    list-style: none;

}

#img-logo-{
    width: 190px;
    height: 190px;
    border-radius: 100px;
    margin-top: 0px;
}

.vignette a.NomTeam{
    text-decoration: none;
    color: #fff; 
    font-size: 24px; 
    font-weight: 900; 
}

.vignette_pleine a.NomTeam{
    text-decoration: none;
    color: #fff; 
    font-size: 24px; 
    font-weight: 900; 
}

.vignette div.Joueur{
    font-weight: 900;
    font-size: 16px;
}

.vignette_pleine div.Joueur{
    font-weight: 900;
    font-size: 16px;
}

.vignette img {
    width: 190px;
    height: 190px;
    border-radius: 100px;
    margin-top: 20px;
    padding: 40px;
}

.vignette_pleine img {
    width: 190px;
    height: 190px;
    border-radius: 100px;
    margin-top: 20px;
    padding: 40px;
}
.vignette ul {
    padding-left: 0;
    list-style: none;
}
.vignette_pleine ul {
    padding-left: 0;
    list-style: none;
}

.vignette ul li {
    margin: 5px;
}

.vignette_pleine ul li {
    margin: 5px;
}

.vignette button {
    width: 165px;
    height: 43px;
    border-radius: 5px;
    padding: 10px;
    background-color: #2F1D62;
    color: #fff;
    margin-top: 10px;
    border: none;
    font-weight: 400;
    font-size: 16px;
}
.vignette_pleine button {
    width: 165px;
    height: 43px;
    border-radius: 5px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    margin-top: 10px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 16px;
}

.vignette button:hover{
   background-color: #211644;
   transition: .5s;
}

  /* Styles généraux pour les images */
  .LOGO img {
    width: 295px;
    height: 226px;
    display: inline-block;
  }

.LOGO {
    width: 1549.27px;
    height: 586.62px;
    position: relative;
  }
  
  #img-logo-1 {
    transform: rotate(0deg);
    left: 1259.21px;
    top: 53.01px;
  }
  
  #img-logo-2 {
    transform: rotate(8deg);
    left: 977.44px;
    top: 39.87px;
  }
  
  #img-logo-3 {
    transform: rotate(2deg);
    left: 1227.15px;
    top: 347px;
  }
  
  #img-logo-4 {
    transform: rotate(3deg);
    left: 1097.31px;
    top: 239.57px;
  }
  
  #img-logo-5 {
    transform: rotate(-3deg);
    left: 792.89px;
    top: 231.92px;
  }
  
  #img-logo-6 {
    transform: rotate(-8deg);
    left: 517.45px;
    top: 196.57px;
  }
  
  #img-logo-7 {
    transform: rotate(8deg);
    left: 667.15px;
    top: 0px;
  }
  
  #img-logo-8 {
    transform: rotate(-10.5deg);
    left: 344.27px;
    top: 24.44px;
  }
  
  #img-logo-9 {
    transform: rotate(10.5deg);
    left: 205.86px;
    top: 280.63px;
  }
  
  #img-logo-10 {
    transform: rotate(-5.5deg);
    left: 0px;
    top: 361.66px;
  }
  
  #img-logo-11 {
    transform: rotate(-10.50deg);
    left: 36.03px;
    top: 106.77px;
  }
  

  
